:root {
    --grey: #3a3a3a;
    --white: #ffffff;
    --orange: #c65614;
    --light-grey: #707070;
    --dark-grey: #404040;
    --sea-green: #014b59;
    --yellow: #d9b23d;
    --off-white: #f2f2f2;
    --dull-white: #cbc9c9;
    --dull-grey: #9b9999;
}

.main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.information {
    height: 100vh;
    width: 35%;
    background-color: darkblue;
    color: var(--off-white);
    border-radius: 0 1px 1px 0;
    display: inline-block;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), center / cover no-repeat url('../img/profilo.JPG');

}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.profile-pic img {
    height: 10rem;
    width: 10rem;
    background-color: var(--grey);
    border-radius: 60%;
    align-items: center;
    border: 3px solid black;
}


.profile img {
    height: 95vh;
    width: 100%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}




li {
    list-style: none;
}

a {
    text-decoration: none;
}

.first-tier svg {
    width: 1.5rem;
    visibility: hidden;
}

.toggle-btn svg {
    width: 2rem;
}

header {
    background-color: var(--grey);
}

footer img {
    width: 2rem;
}

.flex-container:not(.flex-container.travel) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}



li .first-link {
    display: flex;
    flex-direction: row-reverse;
    color: var(--off-white);
    font-family: 'Sono', sans-serif;
    font-size: 24px;

}

.main-menu {
    text-align: right;
    padding: .5rem;
}

header nav {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: var(--grey);
}

.show-nav {
    max-height: unset;
}

.first-tier {
    margin-bottom: 1rem;
}

.second-tier a {
    text-decoration: underline;
    color: var(--dull-white);
    font-family: 'Sono', sans-serif;
    font-size: 18px;
}

.second-tier li {
    padding: 1px;
}

h1 a {
    color: var(--off-white);
    padding: 1rem;
    font-family: 'Sono', sans-serif;
    font-size: 36px;
}

h2 {
    font-family: 'Sono', sans-serif;
    font-size: 90px;
    color: var(--dark-grey);
    line-height: 5rem;
    padding: 1rem 0;
}

.inner-container {
    display: block;
}

.inner-container.food .inner-container {
    position: relative;
}


button {
    border-radius: 1.8rem;
    font-size: 16px;
    font-family: 'Sono', sans-serif;
    width: 11rem;
    padding: .5rem;
    color: var(--off-white);
    background-color: var(--orange);
    border: none;
    margin-bottom: 2rem;
}

.travel-heading {
    color: var(--sea-green);
}



.food-heading span,
.travel-heading span {
    color: var(--light-grey);
    display: block;
    padding: 0 3rem;
}

h3 {
    font-size: 42px;
    font-family: 'Sono', sans-serif;
    color: var(--yellow);
    line-height: 2.5rem;
    padding-left: 1rem;
    position: relative;
    top: -1.3rem;
}

.food-stuff a {
    color: #3a3a3a;
    text-decoration: underline;
    text-underline-offset: 1px;
}

.food-stuff p {
    padding: .5rem 0;
    line-height: 1.3rem;
    font-family: 'Sono', sans-serif;
    font-size: 16px;
}



.food-stuff svg {
    fill: var(--orange);
    width: 2.3rem;
    position: absolute;
    left: .4rem;
}

.eating-stuff div {
    max-width: 250px;
    margin-top: 1rem;
}

.food-stuff {
    padding: 1rem;
}

.food-stuff p {
    padding-left: 1rem;
    margin-top: .5rem;
}

.food-stuff p:last-of-type {
    margin-bottom: 2rem;
}

.food-stuff p:first-of-type {
    margin-top: -1rem;
}



.food-stuff .image-div {
    padding: 1rem;
    background-color: #f1f1f1;
}

.video-blog {
    margin: 2rem .7rem;
    max-width: 18.8rem;
}

.video-blog,
footer {
    background-color: var(--dark-grey);
}

.video-blog h2,
.video-blog p {
    color: var(--white);
    padding: 1rem;
    padding-top: 2rem;

}

.video-blog p {
    font-family: 'Sono', sans-serif;
    font-size: 16px;
    padding-top: 1rem;
}

.video-blog h2 span {
    display: block;
}

.video-blog button {
    margin-left: 28%;
}


footer a {
    color: var(--dull-white);
    font-size: 18px;
    font-family: 'Sono', sans-serif;
}

.type a {
    font-weight: 550;
    font-size: 1.1rem;
    margin-bottom: .1rem;
    color: var(--white);
}

footer svg {
    fill: var(--off-white);
    width: 2rem;
    padding: 5px;
}

.media-links {
    display: flex;
    padding-top: 1rem;
}

.additional-links {
    display: flex;
    flex-wrap: wrap;
}

.additional-links ul {
    padding: 0 4%;
}

.inner-container.travel {
    background-color: #f1f1f1;
    padding-left: 2rem;
    padding-right: 1rem;
}


.inner-container.travel button {
    margin-left: 5rem;
}



.inner-container.food p {
    font-family: 'Sono', sans-serif;
    max-width: 252px;
    font-size: 16px;
    line-height: 20px;
    padding: 1rem 0;
}

.inner-container.food p span {
    display: block;
}

.flex-container.travel {
    margin: 2rem 0;
    padding-left: 0;
    position: relative;
}

.flex-container.travel h2 {
    padding-left: 0;
    padding-top: 2rem;
    margin-left: -2rem;
}



.breakfast-image {
    height: 174px;
    width: 261px;
    position: relative;
    right: -1.5rem;
}

.breakfast-table {
    height: 143px;
    width: 214px;
    position: relative;
    left: -0.4rem;
    top: -2rem;
}

.inner-container.travel .inner-container {
    width: 215px;
    height: 322px;
    margin-left: 17%;
    padding-bottom: 21rem;

}

.image-div {
    min-height: 402px;
    min-width: 267px;
}


.image-camera {
    min-height: 183px;
    min-width: 275px;
}



li .first-link:hover,
li .first-link:active,
li .first-link:focus,
li .first-link:focus-within {
    color: var(--orange);
}

.second-tier li:hover,
.second-tier li:active,
.second-tier li:focus,
.second-tier li:focus-within {
    background-color: var(--light-grey);
    border-radius: 5px;
}

button:hover,
button:active,
button:focus,
button:focus-within {
    background-color: var(--dark-grey);
}

.video-blog button:hover,
.video-blog button:active,
.video-blog button:focus,
.video-blog button:focus-within {
    background-color: var(--off-white);
    color: var(--dark-grey);
}


@media screen and (min-width: 800px) {
    .first-tier svg {
        visibility: visible;
    }

    .wide-flex {
        display: flex;
    }

    .toggle-btn {
        display: none;
    }

    header nav {
        position: static;
        overflow: visible;
    }

    .main-menu {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        text-align: center;
    }


    li .first-link {
        flex-direction: row;
        padding: 0 1.5rem;
    }

    .main-menu li {
        position: relative;
    }

    .second-tier {
        width: 100%;
        background-color: var(--grey);
        position: absolute;
        visibility: hidden;
    }

    .main-menu li:hover>.second-tier {
        visibility: visible;
    }

    .second-tier li {
        margin-left: -1rem;
        margin-right: 1rem;
        padding: .2rem 0;
        white-space: nowrap;
    }

    .media-links {
        align-items: flex-start;
    }

    .additional-links {
        width: calc(86%);
    }

    .additional-links ul {
        width: calc(100%/4);
    }

    button {
        background-color: var(--grey);
    }

    .inner-container.travel button {
        margin-top: 3rem;
        margin-left: 10rem;
    }

    .video-blog button {
        background-color: var(--off-white);
        color: #3a3a3a;
    }

    .video-blog {
        max-width: unset;
        width: 600px;
        height: 425px;
        display: flex;
    }

    .inner-container.food {
        display: flex;
        margin-top: 2rem;
        margin: auto;
    }

    .inner-container.food p span {
        display: unset;
    }

    .inner-container.food p {
        max-width: 20rem;
    }


    .inner-container.travel {
        display: flex;
        height: 23rem;
    }

    .food-stuff {
        margin-top: 8rem;
    }

    .eating-stuff {
        display: flex;
        flex-wrap: wrap;
    }

    .food-stuff .image-div {
        width: 380px;

    }

    .eating-stuff div {
        max-width: unset;
        width: calc(100% / 2);
    }

    .food-stuff p {
        max-width: 358px;
    }

    .food-stuff p:last-of-type {
        margin-bottom: 0;
    }

    .flex-container.travel h2 {
        margin-left: 15%;
        padding-top: 4rem;
    }

    h2:not(.food-heading) {
        margin-left: 10%;
        margin-bottom: -2rem;
    }

    .video-blog p {
        padding: 3rem 1rem 1rem 4rem;
    }

    .food-stuff svg {
        fill: var(--orange);
        width: 3rem;
        position: relative;
        left: 8.5%;
        top: 3rem;
    }



    .breakfast-image {
        height: 258px;
        width: 388px;
        position: relative;
        right: -3rem;
        top: 1rem
    }

    .breakfast-table {
        height: 249px;
        width: 374px;
    }

    .inner-container.travel .inner-container {
        width: 279px;
        height: 418px;
        position: absolute;
        left: 20rem;
        top: 2.5rem;
    }

    .image-div img {
        min-height: 536px;
        min-width: 355px;
        padding-bottom: 1rem;
    }


    .image-camera {
        height: 236px;
        width: 355px;
        position: relative;
        left: 10rem;
        top: 7.5rem
    }



}


@media screen and (min-width: 1200px) {

    .eating-stuff {
        display: flex;
    }

    .food-stuff .image-div {
        width: 302px;
    }

    .eating-stuff div {
        max-width: unset;
        width: calc(100% / 4);
    }

    .food-stuff p {
        max-width: 250px;
    }

    h2 {
        font-size: 125px;
        line-height: 115px;
    }

    .travel-heading span,
    .video-blog span {
        font-size: 95px;
    }

    .video-blog {
        width: 1050px;
        height: 450px;
        padding-left: 400px;
    }



    .travel-heading span {
        padding: 0 16rem;
    }

    .inner-container.travel button {
        margin-left: 28rem;
    }


    .food-stuff svg {
        fill: var(--orange);
        left: 9.5%;
        top: 3rem;
    }

    .inner-container.food .inner-container {
        margin-left: 4rem;
    }

    .inner-container.food {
        margin-top: 3rem;
    }

    .inner-container.food p {
        max-width: 21rem;
    }


    .breakfast-image {
        height: 325px;
        width: 490px;
    }

    .breakfast-table {
        height: 323px;
        width: 485px;
    }

    .inner-container.travel .inner-container {
        width: 422px;
        position: absolute;
        top: -6rem;
        left: 32rem;
    }

    .image-div img {
        min-height: 402px;
        min-width: 269px;
    }


    .image-camera {
        height: 271px;
        width: 407px;
    }

    .flex-container.travel {
        margin-top: 12rem;
    }

    .flex-container.travel .inner-container {
        height: 27rem;
    }

}













#container {
    /* position: fixed; */
    /* bottom: 7rem; */
    text-align: center;
    border-radius: 10px 10px 0 0;
}

#container li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: auto;
}

#container li svg {
    width: 50px;
    height: 50px;
    margin: 10px 0 ;
    /* -webkit-box-reflect: below 2px
              -webkit-gradient(linear, left top, left bottom, from(transparent),
              color-stop(0.7, transparent), to(rgba(255,255,255,.5))); */
    -webkit-transition: all .3s;
    -webkit-transform-origin: 50% 100%;
    padding: .5rem;
    border: 3px solid black;
    border-radius: 10%;
    color: #fbf4f4;
}


#container li:hover svg {
    -webkit-transform: scale(1.1);
    border: 1px solid rgb(5, 5, 5);
    border-radius: 25%;
    background-color: #121111;

}

container li:hover+li svg,
container li.prev svg {
    -webkit-transform: scale(1.1);
    margin: 0 10rem;
}

#container li span a{
    font-family: 'Sono', sans-serif;
    /* width: 82%;   */
    filter: blur(50%);
    padding: 2px 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: whitesmoke;
}


#container li:hover span a {
    display: block;
    color: rgb(13, 12, 12);
    font-size: 18px;
    padding: 10px;
    background-color: #d37272;

}



/* image body */
.body-main {
    background: center / cover no-repeat url('../img/background.jpg');
 
}

/* headings */
.heading1 {
    text-align: center;
    font-size: 5.5rem;
    color: rgb(230, 238, 239);
    text-shadow: 1px 1px rgb(19, 19, 1);
    font-family: 'Sono', sans-serif;
    letter-spacing: -2px;
}

.college {
    font-size: 1.8rem;
    color: rgb(9, 9, 9);
    margin-top: 1rem;
    text-shadow: 1px 1px 2px rgb(229, 225, 225);
    text-align: center;
    font-family: 'Sono', sans-serif;
    letter-spacing: -1px;
}

.school-info {
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
}




/* languages page */

.languages-page {
    /* background: center / cover no-repeat url('../img/simple-digital-art-wallpaper-preview.jpeg'); */
    padding: 0 1.5rem;
    background-color: #dad4d1;
}

.scroll-same-page ul {
    display: flex;
    margin: 0 -1.8rem 0 -4.4rem;
    /* background-color: rgb(141, 92, 92); */
    justify-content: space-around;
}

.scroll-same-page ul li {
    background-color: rgb(141, 92, 92);

    /* margin: 1rem; */
    padding: 2rem 8.1rem;
    color: #cbc9c9;
    font-size: 20px;
    font-family: 'Sono', sans-serif;
}

.scroll-same-page ul li:hover {
    color: #140a04;
}


.languages-page h3 {
    color: #092340;
}

.languages-heading {
    margin: 0 -1.5rem;
    font-size: 7rem;
    text-align: center;
    background-color: #1b402f;
    /* color:rgb(204, 192, 183); */
    /* font-family: 'Amatic SC', cursive; */
    color: rgb(226, 139, 16);
    font-family: 'Sono', sans-serif;
}

.languages-heading i {
    font-size: 3.5rem;
    margin-right: 15rem;
    margin-left: -28rem;
    text-align: left;
    color: rgb(230, 238, 239);

}

.languages-heading i:hover {
    color: rgb(215, 82, 37);
}

.container-languages section {
    padding-top: 3rem;
    display: flex;
}

.container-languages section:nth-child(2n) {
    flex-direction: row-reverse;
}

.container-languages h3 {
    text-align: center;
    font-size: 3rem;
}

.bi {
    padding: .8rem;
    font-size: 13px;
}

.container-languages img {
    width: 100rem;
    height: 30rem;
    /* border-radius: 50%; */
    box-shadow: 5px 3px 4px 2px rgb(202, 113, 41);
}

.description {
    width: 100%;
    background-color: #fff0e6;
    margin: 5rem 0rem 2rem .7rem;
    font-family: 'Sono', sans-serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    border-radius: 1%;
}

.description li {
    margin-bottom: .1rem;
    color: #00004d;
}

.database-info {
    font-size: 16px;
}

.language-footer {
    background-color: #1b402f;
    margin-top: 2rem;
    height: 5rem;
    margin: 1rem -1.5rem 0 -1.5rem;
}




/* webdesign projects page */

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    padding-right: 1.5rem;
}

.card {
    width: 16rem;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(0, 0, 0, 1);
    margin: 1rem 1rem 2rem 1rem;
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.main {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 24px;
    padding-right: 1.5rem;
}

.main .card {
    width: 20rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #000039;
    background-color: rgb(240, 238, 235);

}

.cards img {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}

.card-heading {
    font-size: 1.1rem;
    background-color: #c3b091;
    color: #a20f0f;
    margin: 0 -.32rem -1rem -.32rem;
}

.projects-heading {
    font-size: 1.1rem;
    background-color: #838996;
    margin: 0 -.32rem -1rem -.32rem;
    color: #f6b03e;
}

.cards a {
    margin: .2rem 1.2rem .1rem 0;
    color: #050101;
    font-family: 'Sono', sans-serif;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 700;
}

.cards i {
    padding-right: 4px;
    font-size: 20px;
}

/* .cards:hover > .card:not(:hover) {
    filter: blur(4px);
  } */


.card:hover {
    background: rgb(215, 228, 228);
}

.card:hover h3 {
    color: #00004d;
    font-size: 1.35rem;
}

.projects {
    font-size: 4rem;
    background-color: #592720;
    color: #dcdcdc;
    font-family: 'Sono', sans-serif;
    margin-bottom: 2rem;
}












/* write media query */

@media screen and (min-width: 750px) and (max-width: 1180px) {
    
    .information {
        width: 50%;
    }
    
    .profile-pic {
        margin-top: 10%;
    }

#container {
    margin-top: 2rem;
}

#container li svg { 
    margin-left: -2rem;
}


#container li:hover svg {
    -webkit-transform: scale(1);
}


#container li:hover span a {
    font-size: 16px;
    /* background-color: #d37272; */
    background-color: red;
}


.profile-pic img {
    margin-top: 1rem;
    height: 8rem;
    width: 8rem;
}


/* headings */
.heading1 {
    font-size: 4.3rem;
}

.college {
    font-size: 1.7rem;
}

.school-info {
    margin: 0 0rem;
}

}




/* write media query */

@media screen and (max-width: 750px) {
    
.main-div {
    /* display: flex; */
    flex-direction: column;
    margin: 0;
    padding: 0;

}

    .information {
        width: 90%;
        height: 94vh;
        margin-top: 3vh;
    }
    
    .profile-pic {
        margin-top: 1%;
    }

#container {
    margin-top: 2rem;
    padding: 0 2rem;
}

#container ul { 
    margin-top: 6rem;
    display: block;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0rem;
}

#container li svg { 
    display: inline-block;
}

#container li {
    list-style: none;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}


#container li:hover svg {
    -webkit-transform: scale(1);
    padding: .1rem;
}




#container li:hover span a {
    font-size: 16px;
    /* background-color: #d37272; */
    background-color: yellow;
    padding: 0;
}

#container li span a {
    width: 8rem;
    display: flex;
    flex-wrap: wrap;
}



.profile-pic img {
    margin-top: 3rem;
    height: 8rem;
    width: 8rem;
}


/* headings */
.heading1 {
    font-size: 2.4rem;
    margin-top: 1.5rem;
}

.college {
    font-size: 1.3rem;
    margin: 0 1.3rem;
    margin-top: 8rem;
    line-height: 1.6rem;

}

.school-info {
    margin: 0 0rem;
    position: absolute;

}

}